@{
    Layout = "~/Areas/Wholesaler/Views/Estimates/Partial/EstimatesNewBase.cshtml";
}
           
@section links
{
    <div class="links">
        @{Html.RenderPartial("~/Areas/Wholesaler/Views/Shared/OperationLinks.cshtml");}
    </div>
}