@using PDR.Web.Areas.Estimator.Models.Reports
@model ReportModel

@{
    ViewBag.Title = "Invoice report details";
    Layout = "~/Areas/Common/Views/Shared/Reports/ReportsDetailsIndexBase.cshtml";
    Bundles.Reference("Content/js/Pages/Default/Reports/InitInvoiceReportDetailsGrid.js");
}
           
@section links
{
    @{Html.RenderPartial("~/Areas/Manager/Views/Shared/ReportsDetailsLinksWithFilter.cshtml");}
    <input type="hidden" value="@Url.Action("SaveToPdf", "InvoiceReports")" class="urlReport"/>
}

@section table
{
      <table id="invoiceReportInfoGrid">
      </table>
      <input type="hidden" id="Manager" value="true"/>
}