<div>
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><a href="#" tabindex="-1">Car information</a></h3>
	    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" role="tabpanel">
		    <form action="" method="">
			    <fieldset class="fieldset4">
				    <ul>
					    <li>
						    <label style="width:39px;">VIN </label>
						    <input type="text" value="12345678912345678" style="margin: 0pt 13px 0pt 0pt; width: 142px;" />
					    </li>
					    <li>
						    <label style="width:39px;">Year</label>
						    <input type="text" value="1956" style="margin: 0pt 13px 0pt 0pt; width: 38px;"/>
					    </li>
					    <li>
						    <label style="width:42px;">Make</label>
						    <input type="text" value="Volkswagen" style="width:169px; margin:0 13px 0 0;"/>
					    </li>
					    <li>
						    <label style="width:46px;">Model</label>
						    <input type="text" value="Samba Transporter" style="margin: 0pt 13px 0pt 0pt; width: 150px;"/>
					    </li>									
					    <li>
						    <label style="width:39px;">Trim</label>
						    <input type="text" value="" style="margin: 0pt 13px 0pt 0pt; width: 81px;"/>
					    </li>								
					    <li>
						    <label style="width:43px">Color</label>
						    <input type="text" value="Yellow" style="width:80px;margin: 0 13px 0 0;"/>
					    </li>
					    <li>
						    <label style="width:93px;">License plate</label>
						    <input type="text" value="" style="width: 114px; margin:0 13px 0 0;"/>
					    </li>
					    <li>
						    <label style="width:42px;">State</label>
						    <input type="text" value="" style="width: 42px;  margin:0 13px 0 0;"/>
					    </li>
					    <li>
						    <label style="width:64px;">Cust RO</label>
						    <input type="text" value="" style="width:150px; margin:0 13px 0 0"/>
					    </li>
					    <li>
						    <label class="big1">Stock #</label>
						    <input type="text" value="" style="width: 96px;"/>
					    </li>
				    </ul>
			    </fieldset>
		    </form>
	    </div>
    </div>