@*<div>
	<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><a href="#" tabindex="-1">Car inspection</a></h3>
	<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="height: 90px; display: none;" role="tabpanel">					
*@		<ul class="car_part">
			<li class="now"><span class="price">$900</span><span class="part">Hood</span></li>
			<li class="already"><span class="price">$400</span><span class="part">Front bumper</span></li>
			<li class="already"><span class="price">$300</span><span class="part">Roof</span></li>
			<li><span class="price"></span><span class="part">Metal sunroof</span></li>
			<li><span class="price"></span><span class="part">Left roof rail</span></li>
			<li><span class="price"></span><span class="part">Right roof rail</span></li>
			<li><span class="price"></span><span class="part">Left fender</span></li>
			<li><span class="price"></span><span class="part">Right fender</span></li>
			<li><span class="price"></span><span class="part">Left front door</span></li>
			<li><span class="price"></span><span class="part">Right front door</span></li>
			<li><span class="price"></span><span class="part">Left rear door</span></li>
			<li><span class="price"></span><span class="part">Right rear door</span></li>
			<li><span class="price"></span><span class="part">Left quarter</span></li>
			<li><span class="price"></span><span class="part">Right quarter</span></li>
			<li><span class="price"></span><span class="part">Deck lid</span></li>
			<li class="already"><span class="price">$300</span><span class="part">Rear Bumper</span></li>							
		</ul>
		<div class="car_p">
			<div class="f">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/1-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/1-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/1-3.png">
			</div>
			<div class="s">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/2-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/2-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/2-3.png">
			</div>
			<div class="t">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/3-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/3-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/3-3.png">
			</div>
			<div class="fo">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/4-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/4-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/4-3.png">
			</div>
			<div class="fi">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/5-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/5-2.png">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/5-3.png">
			</div>
			<div class="si">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/6-1.png">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/6-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/6-3.png">
			</div>
			<div class="se">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/7-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/7-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/7-3.png">
			</div>
			<div class="e">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/8-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/8-2.png">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/8-3.png">
			</div>
			<div class="n">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/9-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/9-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/9-3.png">
			</div>
			<div class="te">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/10-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/10-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/10-3.png">
			</div>
			<div class="el">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/11-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/11-2.png">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/11-3.png">
			</div>
			<div class="tw">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/12-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/12-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/12-3.png">
			</div>
			<div class="tt">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/13-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/13-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/13-3.png">
			</div>
			<div class="ft">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/15-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/15-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/15-3.png">
			</div>
			<div class="st">
				<img src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/14-1.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/14-2.png">
				<img style="display:none" src="http://hitech.vadiman.cms.nixsolutions.com/images/part-car/14-3.png">
			</div>
		</div>
		<ul class="right_f">
			<li>
				<div class="right_f_l">
					<select>
						<option>Quarter</option>
						<option>Quarter</option>
						<option>Quarter</option>
						<option>Quarter</option>
						<option>Quarter</option>
					</select>
					<p>dents</p>
					<select>
						<option>10–15</option>
						<option>10–15</option>
						<option>10–15</option>
						<option>10–15</option>
						<option>10–15</option>
					</select>
				</div>
				<div class="right_f_r">
					<input type="text" value="$500"/>
				</div>
			</li>
			<li>
				<div class="right_f_l">
					<label>Oversized dents</label>
					<input type="text" value="2"/>									
				</div>
				<div class="right_f_r">
					<input type="text" value="$100"/>
				</div>
			</li>
			<li>
				<div class="right_f_l">
					<label>
						<input type="checkbox"/>
						<span>Aluminium</span>
					</label>
					<label>
						<input type="checkbox"/>
						<span>Double metal</span>
					</label>
					<label class="sumps">
						<input type="checkbox"/>
						<span>Corrosion protection</span>
					</label>									
				</div>
				<div class="right_f_r">
					<input type="text" value="$100"/>
				</div>
			</li>
			<li>
				<div class="right_f_l">
					<label>
						<input type="checkbox"/>
						<span><span>R&I Hood</span>0.5 hrs</span>
					</label>
					<label>
						<input type="checkbox"/>
						<span><span>R&I Insulator</span>0.3 hrs</span>
					</label>
					<label>
						<input type="checkbox"/>
						<span><span>R&I Emblem</span>0.2 hrs</span>
					</label>
					<label>
						<input type="checkbox"/>
						<span><span>R&R Cowl</span>0.3 hrs</span>
					</label>
					<label>
						<input type="checkbox"/>
						<span><span>R&R Labels</span>0.3 hrs</span>
					</label>									
				</div>
				<div class="right_f_r">
					<span>Total effort: 1.6 hours</span>
					<input type="text" value="$100"/>
				</div>
			</li>
			<li>
				<div class="right_f_l">
					<label>
						<img src=""/>
						<input type="text" value="Filled In Custom Field" style="width:159px;"/>
					</label>																	
				</div>
				<div class="right_f_r">
					<input type="text" value="$100"/>
				</div>
			</li>
			<li>
				<div class="right_f_l">
					<label>
						<img src=""/>
						<input type="text" value="" style="width:159px;"/>
					</label>																	
				</div>
				<div class="right_f_r">
					<input type="text" value="$100"/>
				</div>
			</li>
			<li>
				<p>Prior damages:</p>
				<textarea></textarea>
			</li>
		</ul>
		<div class="all">
			<div class="total">
				<span><span>Total:</span> $1950</span>
			</div>
			<div class="damages">
				<p>Custom prior damages:</p>
				<textarea></textarea>
			</div>
			<div class="total-fields">
				<p>Custom fields:</p>
				<input type="text" value="Filled In Custom Field"/>
				<input type="text" class="small" value="$50"/>
			</div>
		</div>
@*	</div>
</div>*@