<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="PDRConnectionString" connectionString="Application Name=PDR_ioann;data source=BOROVOK\SQLSERVER2008R2;DataBase=PDR_Test3;user id=pdr_user1;pwd=pdr_pass215;" />-->
    <!--<add name="PDRConnectionString" connectionString="Application Name=PDR_ioann;data source=hermes;DataBase=PDR_Test2;user id=pdruser;pwd=pdruser;" />-->
    <add name="PDRConnectionString" connectionString="Application Name=PDR;data source=pdrmanage08.cjzkvnxhqj3c.us-east-1.rds.amazonaws.com;DataBase=pdr_test;user id=pdr_user;pwd=pdr_pas215;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="adminId" value="118554624" />
    <add key="companyId" value="118423552" />
    <!--<add key="adminId" value="196609" />
    <add key="companyId" value="229376" />-->
    <add key="emailTo" value="evgeniy.efremov@nixsolutions.com" />
    <add key="emailFrom" value="dev-community@nixsolutions.com" />
  </appSettings>
  <system.net>
    <!--<mailSettings>-->
      <!--<smtp from="operationalreports@hi-techpdr.com" deliveryMethod="Network">
        <network host="localhost" port="25" password="" userName="" />
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp from="dev-community@nixsolutions.com" deliveryMethod="Network">
        <network host="smtp.nixsolutions.com" port="25" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>

