@model PDR.Web.Areas.Admin.Models.Vehicle.VehicleModel
@{
    Layout = "~/Areas/Admin/Views/Vehicles/Partial/VehicleNewBase.cshtml";
}

@section links
{
    <div class="links" style="margin-bottom: 16px;">
        @{Html.RenderPartial("OperationLinks");}
    </div>
}

