@model IEnumerable<SelectListItem>
@{
    Bundles.Reference("Content/js/Pages/Accountant/Customer/InitCustomerGrid.js");
    Bundles.Reference("Content/js/Pages/Accountant/Customer/InitCustomerActivitiesGrid.js");
}
@{Bundles.Reference("Content/js/Pages/Common/InitStyleFilters.js");}

<div class="links">
    @if (ViewBag.IsAdmin)
    {
        Html.RenderPartial("~/Areas/Common/Views/Customers/Customerlinks.cshtml");
    }
    <span class="gridFilter">
        @if (ViewBag.Teams != null)
        {
            <label>Filter by teams:</label>
            @Html.DropDownList("team", ViewBag.Teams as IEnumerable<SelectListItem>, new { id = "team" })
        }
        <label>Filter by states:</label>
        @Html.DropDownList("UsaStates", Model, new { id = "UsaStates" })


    </span>
</div>
<div id="tabs-1" class="ui-tabs-panel">
    <div class="repair-orders-content">
        <div class="repair-orders-content">
            <table id="customerGrid">
            </table>
            <div id="pager">
            </div>
            <div id="customerInfo">
            </div>
        </div>
    </div>
</div>
