.search-param-wrapper #accordion {
    clear: left;
    float: left;
    min-height: 10px;
    width: 350px;
    margin:16px 0 0 !important;    }
    
.h3-wrapper {
    background: #f3f3f6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f3f3f6 0%, #d8d8da 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f6), color-stop(100%,#d8d8da)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f3f6 0%,#d8d8da 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f3f6 0%,#d8d8da 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f3f6 0%,#d8d8da 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3f3f6 0%,#d8d8da 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f6', endColorstr='#d8d8da',GradientType=0 ); /* IE6-8 */    border: 1px solid #CDCDCD;
    border-radius: 5px;
    float: left;
    padding: 10px 0 10px 20px;
    width: 330px;
    }

#accordion .h3-wrapper h3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    backhround-images:none !important;
    background-color:transparent !important;
    filter: none !important;
    border: medium none;
    color: #444447;
    float: left !important;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    width:auto;
}
.h3-wrapper span {
	float:left;
	cursor:pointer;
}
.h3-wrapper .ui-icon {
    background: url("images/ui-icons.png") repeat scroll 0 -15px;
}
.h3-wrapper .ui-iconhover {
    background: url("images/ui-icons.png") repeat scroll -66px -15px;
}
.search-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B6B4B8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #B6B4B8;
    border-right: 1px solid #B6B4B8;
    float: left;
    padding: 10px 0 10px 20px;
    position: absolute;
    top: 55px;
    width: 330px;
    z-index: 7;
    }
.search-content ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.search-content li {
    float: left;
    margin: 0 0 8px;
    width: 100%;}
.search-content li span{
	color: #555555;
    float: left;
    font-family: Arial;
    font-size: 14px;
    margin: 4px 0 0;
    width: 80px;
}
.search-content li input{
	border: 1px solid #DDDDDD;
    border-radius: 3px;
    color: #555555;
    float: left;
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 0 7px;
	width:204px;
}
.search-content p{
	margin:0;
}
.search-param-wrapper 
{
    clear: left;
    float: left;
    position: relative;
}
.search-param-wrapper .list-check {
	left: 122px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 26px;
}
.list-check li:first-child{
	margin:0;
}
.list-check li{
	margin:0 0 0 10px;
	padding:0;
	float:left;
	list-style-type:none;
}
.list-check li p {
	color: #B6B4B8;
    float: left;
    font-size: 15px;
	font-family: Arial;
	margin:0;
}

.list-check li p.black {
    color:#000;
}

.list-check li p.gray {
    color:#B6B4B8;
}


.search-content li.submitLi input{
    background: #c5c5c8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1YzVjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGI0YjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #c5c5c8 0%, #b4b4b9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c5c8), color-stop(100%,#b4b4b9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c5c5c8 0%,#b4b4b9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c5c5c8 0%,#b4b4b9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c5c5c8 0%,#b4b4b9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c5c5c8 0%,#b4b4b9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c8', endColorstr='#b4b4b9',GradientType=0 ); /* IE6-8 */    border-radius: 8px;
    color: #444447;
    cursor: pointer;
    float: left;
    font-size: 15px;
    height: 37px !important;
    margin: 4px 9px 0 0 !important;
    min-height: 10px;
    text-align: center;
    white-space: nowrap;
    width: 145px;
}
.search-content li.submitLi input.reset-button {
	margin:4px 12px 0 0 !important;
}
.search-content li.submitLi input:hover {
	background: none repeat scroll 0 0 #E25E53;
    color: #FFFFFF;
}
.links .reset-link a {
    background: url('images/reset-button.png') no-repeat 0 0;
    float: left;
    height: 17px;
    margin: 0 0 0 39px;
    padding: 0;
    width: 20px;
}
.ui-tabs-panel .links .reset-link a:hover {
	background: url("images/reset-button-hover.png") repeat scroll 0 0;
}

.ui-widget-content .search-param-wrapper .ui-icon.arrow-up {
background-position: 0 -15px;
}

.ui-widget-content .search-param-wrapper .ui-icon.arrow-down{
background-position: -65px -15px;
}