@{
    Bundles.Reference("Content/js/Pages/Common/InitTeamGrid.js");
}  
<div id="tabs-1" class="ui-tabs-panel">
    <div class="repair-orders-content">
        <table id="teamGrid">
        </table>
        <div id="pager">
        </div>
        <div id="teamInfo">
        </div>
    </div>
</div>
